---
import IconCheck from "@components/IconCheck.astro";
import type { FeatureCardItem } from "@data/types";
import { Image } from "astro:assets";
interface Props {
  data: FeatureCardItem;
}

const { data } = Astro.props;
---

<div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
  {
    data.reverse && (
      <Image
        class="mb-4 aspect-square w-full rounded-lg lg:mb-0 lg:flex"
        src={data.image}
        alt={data.alt}
        quality={95}
        loading="lazy"
        width={data.image.width}
        height={data.image.height}
      />
    )
  }
  {
    !data.reverse && (
      <Image
        class="mb-4 flex aspect-square w-full rounded-lg lg:mb-0 lg:hidden"
        src={data.image}
        alt={data.alt}
        quality={95}
        loading="lazy"
        width={data.image.width}
        height={data.image.height}
      />
    )
  }
  <div class="text-gray-400 sm:text-lg">
    <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-white">
      {data.title}
    </h2>
    <p class="mb-8 font-light lg:text-xl">
      {data.description}
    </p>
    <ul role="list" class="my-7 space-y-5 border-t border-gray-700 pt-8">
      {
        data.list.map((item) => {
          return (
            <li class="flex space-x-3">
              <IconCheck />
              <span class="text-base font-medium leading-tight text-white">{item}</span>
            </li>
          );
        })
      }
    </ul>
    <p class="mb-8 font-light lg:text-xl">
      {data.message}
    </p>
  </div>
  {
    !data.reverse && (
      <Image
        class="mb-4 hidden aspect-square w-full rounded-lg lg:mb-0 lg:flex"
        src={data.image}
        alt={data.alt}
        quality={95}
        loading="lazy"
        width={data.image.width}
        height={data.image.height}
      />
    )
  }
</div>
