---
import ImageCarousel from "./ImageCarousel.astro";
import type { ProjectCardItem } from "@data/types";

interface Props {
  data: ProjectCardItem;
  addDescription?: boolean;
}

const { data, addDescription = false } = Astro.props as Props;

const interval = Math.min(7500, 4000 + data.id * 750);
---

<article class="rounded-lg border border-gray-700 bg-gray-800 p-4 shadow-md">
  <div class="relative">
    <ImageCarousel
      items={data.images}
      autoplay={true}
      duration={1000}
      autoplayInterval={interval}
      {addDescription}
    />
  </div>
  {
    data.tags?.map((tag) => (
      <span class="mr-2 rounded bg-purple-200 px-2.5 py-0.5 text-xs font-semibold text-purple-900">
        {tag}
      </span>
    ))
  }
  <h2 class="my-2 text-2xl font-bold tracking-tight text-white">
    {data.title}
  </h2>
  <p class="mb-4 font-light text-gray-300">
    {data.subTitle}
  </p>
  <p class="mb-4 font-light text-gray-300">
    {data.description}
  </p>
  <div class="flex items-center space-x-4">
    <div class="font-medium text-white">
      <div>{data.location}</div>
      <div class="text-sm font-normal text-gray-300">
        {data.date}
      </div>
    </div>
  </div>
</article>
