---
import ImageCarousel from "@components/ImageCarousel.astro";
import logo from "@assets/images/logos/dmeyers.webp";
import { Image } from "astro:assets";
import { heroData } from "@data/heroData";
---

<section class="bg-gray-900">
  <div class="border-b border-gray-800">
    <div class="mx-auto max-w-screen-xl px-4 py-12">
      <div class="flex flex-col items-center gap-6">
        <div class="relative">
          <div
            class="absolute -inset-1 rounded-full bg-gradient-to-r from-blue-600 to-blue-400 opacity-75 blur-sm">
          </div>
          <Image
            src={logo}
            alt="D.Meyer's Logo"
            class="relative size-44 rounded-full border-2 border-gray-700 object-cover sm:size-52"
            quality={95}
            loading="lazy"
            width={logo.width}
            height={logo.height}
          />
        </div>
        <div class="text-center">
          <h1
            class="bg-gradient-to-r from-blue-400 to-blue-600 bg-clip-text py-4 text-5xl font-bold tracking-tight text-transparent sm:text-6xl">
            {heroData.brandName}
          </h1>
          <p class="mt-2 text-xl font-medium text-gray-400 sm:text-2xl">
            {heroData.brandDescription}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-16 lg:px-6 lg:py-24" id="about">
    <div class="flex flex-col gap-8 lg:flex-row lg:gap-16">
      <div class="lg:max-w-xl xl:shrink-0">
        <div>
          <h2 class="text-3xl font-extrabold leading-none tracking-tight text-white sm:text-5xl">
            {heroData.title}
          </h2>
          <p
            class="mt-5 text-base font-normal text-gray-400 sm:text-xl md:max-w-3xl"
            set:html={heroData.description}
          />
        </div>
      </div>

      <div class="relative w-full">
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
          <ImageCarousel items={heroData.images} autoplay={true} duration={1000} />
        </div>
      </div>
    </div>
  </div>
</section>
